<div class="row">
    <div class="col-md-12">
        <h1>SAMPLE</h1>
        <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus vero tempore sed repellendus consequuntur, dignissimos quos quo quod. Voluptate neque recusandae excepturi architecto fugiat dolores consectetur tempora cumque optio consequuntur.</span><span>Voluptas consectetur repellendus tenetur vero fuga ea illo esse suscipit repellat ipsam minima quo magni laudantium, sit distinctio corrupti quod sed beatae. Vel, cum, quis eligendi velit nobis architecto ut!</span></p>
    </div>
    <div class="col-md-6">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi aspernatur harum eum totam, soluta quia impedit reiciendis. Sunt omnis, fugit optio dolor impedit odio quas iusto doloribus dolores blanditiis corporis!</p>
    </div>
    <div class="col-md-6">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, deleniti, iste, praesentium eaque mollitia tempore repudiandae ea ad nisi vero quos sit inventore distinctio soluta, officiis modi totam ut nobis?</p>
    </div>
    <div class="col-md-6">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates quam esse soluta ipsa tempora incidunt dolor natus eos eius dicta. Magnam ipsa velit, porro doloribus, culpa laboriosam unde alias est!</p>
    </div>
    <div class="col-md-6">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus culpa cupiditate repellendus, nostrum. Quisquam laborum, nisi ab earum maiores. Quae eveniet esse tenetur libero incidunt hic necessitatibus perferendis enim amet?</p>
    </div>
</div>